@font-face { 
  font-family: 'Caviar Dreams';
  font-style: normal;
  font-weight: 400; 
  src: url('../fonts/Caviar-Dreams/CaviarDreams.ttf') format('truetype');
}

@font-face { 
  font-family: 'Caviar Dreams';
  font-style: bold;
  font-weight: 700; 
  src: url('../fonts/Caviar-Dreams/Caviar_Dreams_Bold.ttf') format('truetype');
}