.social-links {
  text-align: center;
  margin-bottom: 20px;

  &__fb {
    @include social-icon();
    background-image: url('../src/blocks/footer/img/fb.svg');
  }
  &__tw {
    @include social-icon();
    background-image: url('../src/blocks/footer/img/tw.svg');
  }

  &__inst {
    @include social-icon();
    background-image: url('../src/blocks/footer/img/inst.svg');
  }

  &__pin {
    @include social-icon();
    background-image: url('../src/blocks/footer/img/pin.svg');
  }

  &__yt {
    @include social-icon();
    background-image: url('../src/blocks/footer/img/yt.svg');
  }

  @include respond-to($lg) {
    margin-top: 35px;
    float: right;
  }
}