.header-menu {

  @include clearfix;

  &__brand {
    float: left;
    width: 160px;

    &--caviardreams {
      font-family: 'Caviar Dreams';
      font-weight: 700;
      margin-top: 25px;
      color: white;
      font-size: 36px;
    }
  }

  &__nav {
    float: right;
    margin-top: 40px;
    margin-bottom: 130px;
    font-size: 14px;
    text-transform: uppercase;

    ul {
      margin: 0;
    }

    li {
      display: inline-block;
      
      a {
        font-weight: 700;
        text-decoration: none;
        color: white;
        padding: 0px 20px;
        transition: text-shadow 0.3s ease;

        &:hover {
          text-shadow: 3px 11px 5px rgba(0, 0, 0, 0.5);
        }
      }

      &:first-child a {
        padding-left: 0;
      }

      &:last-child a {
        padding-right: 0;
      }
    }
  }
}