.genre-icon-basic {
  &::before {
    position: absolute;
    content: "";
    background-size: cover;
    width: 50%;
    height: 50%;
    top: 15%;
    left: 25%;
    right: 0px;
  }
}

@mixin genres-icon($genre) {
  @extend .genre-icon-basic;
  &::before {
    background-image: url('../src/blocks/genres/img/#{$genre}.svg');
  }
}