@mixin grayline {
  &::before {
    position: absolute;
    content: "";
    background-color: $grey;
    border-radius: 50%;
    top: 19px;
    left: -20px;
    height: 12px;
    width: 12px;
  }

  &::after {
    position: absolute;
    content: "";
    background-color: $grey;
    top: 24px;
    left: -230px;
    height: 2px;
    width: 220px;
  }

  margin-left: 25px;

  @include respond-to($lg) {
    margin-left: 0;  
  }
}