// Media vars
$xs: '(min-width: 0px)'; // Range: [0px .. 575px]
$sm: '(min-width: 576px)'; // Range: [576px .. 767px]
$md: '(min-width: 768px)'; // Range: [768px .. 991px]
$lg: '(min-width: 992px)'; // Range: [992px .. 1199px]
$xl: '(min-width: 1200px)'; // Range: [1200px .. INF]

$md-custom: '(min-width: 765px)'; // Range: [768px .. 991px]

// Container vars
$sm-container: 540px;
$md-container: 720px;
$lg-container: 960px;
$xl-container: 1140px;

// Grid columns
$columns: 12;

// Create container
@mixin container-create($width) {
  @include clearfix;
  margin: 0 auto;
  padding: 0 15px;
  width: $width;
}

@mixin container-auto() {
  @include clearfix;
  margin: 0 auto;
  padding: 0 15px;
  
  @media #{$sm} {
    width: $sm-container;
  }
  @media #{$md} {
    width: $md-container;
  }
  @media #{$lg} {
    width: $lg-container;
  }
  @media #{$xl} {
    width: $xl-container;
  }
}

// From arg media and up
@mixin respond-to($media) {
  @media only screen and #{$media} {
    @content;
  }
}

@mixin col($number) {
  width: percentage($number/$columns);
  float: left;
}

.container-big {
  margin: 0 auto;
  max-width: 1400px;
}