@mixin main-button {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: $red;
  text-decoration: none;
  background-color: #fff;
  padding: 10px 13px;
  border: 1px solid $grey;
  border-radius: 5px;
  transition: color, border-color 0.3s ease;
  
  &:hover {
    text-decoration: none;
    color: $black;
    border-color: $black;
  }
  &:focus {
    color: $black;
    text-decoration: none;
  }
}